.search-page__container {
    align-items: center;
    padding: 2rem 10vw;
}

.search-page__found-message {
    width: 100%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.app-tabs__controls {
    width: 100%;
    border-bottom: .1px solid rgba(0, 0, 0, 0.1);
}

.status__checkbox {
    font-size: 18px;
    margin-bottom: 1rem;
}

.checkbox {
    margin-right: 1rem;
}

.app-tabs__btn {
    font-size: 24px;
    width: 82px;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(138, 43, 226);
}

.catalog-search-products {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 260px auto;
    grid-gap: 2rem;
}

.catalog-status {
    font-size: 24px;
    margin-bottom: 2rem;
}

.products-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 1600px) {
    .catalog-search-products {
        grid-template-columns: 200px auto;
    }

    .products-list {
        display: grid;
        grid-template-columns: 33% 33% 33%
    }
}

@media screen and (max-width: 1440px) {
    .search-page__container {
        align-items: center;
        padding: 2rem 5vw;
    }
}

@media screen and (max-width: 1240px) {
    .products-list {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1024px) {
    .catalog-search-products {
        grid-template-columns: auto;
    }
    
    .catalog-filters {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .products-list {
        grid-template-columns: 100%;
    }
}